body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ECDFCC;
}
.hidden {
    display: none;
}
#cy {
    width: 100vh;
    height: 500px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
table th {
    background-color: #f4f4f4;
}
.accepted {
    color: green;
}
.error {
    color: red;
}


.step {
    margin-bottom: 10px;
}





.container {
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
    background-color: #ECDFCC;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    width: 100vh;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 25px;
}

input, select, button {
    width: 50%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 25px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

button:hover {
    background-color: #45a049;
}

.state-list, .transition-list {
    margin-top: 10px;
}

pre {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}



.msg {
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 10px 0;
}

.reduced {
    color: green;
}

.not-reduced {
    color: red;
}

#graph, #reduced-graph {
    text-align: center;
    margin: 20px 0;
}

svg {
    border: 1px solid #ccc;
    background-color: #fafafa;
}


th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
}

#return button{
    background-color: #C1BAA1;
    color: black;
    margin: 0;
    padding-bottom: 5px;
    width: 80px;
}

#return button:hover{
    background-color: #A59D84;
    transform: scale(1.1);
}



#return button{
    background-color: #C1BAA1;
    color: black;
    margin: 0;
    padding-bottom: 5px;
    width: 80px;
}

#return button:hover{
    display: grid;
    place-items: center;
}

.language-input, #automataInputs, #automataSection{
    text-align: center;
}


#return button{
    background-color: #C1BAA1;
    color: black;
    margin: 0;
    padding-bottom: 5px;
    width: 80px;
}

#return button:hover{
    background-color: #A59D84;
    transform: scale(1.1);
}

#cy{
    display: block;
}
